* {
    box-sizing: border-box;
}

.body {
    background-color: white;
}

.header{
    height: 25%;
    background-color: red;
    overflow: auto;
}

.texto-izquierda{
    width: 100%;
    float: none;
    padding: 2%;
}

.texto-derecha {
    width: 100%;
    float: none;
    padding: 2%;
}


.content {
    background-color: aquamarine;
    padding: 1%;
    position: relative;
    overflow: auto;
    margin-top: 1%;
    clear: both;
}

.grid{
    position: relative;
    clear: both;
    /*padding: 1%;*/
    background-color: blue;
    overflow: auto;
}



.columna {
    width: 100%;
    float: left;
    background-color: green;
    margin-left: 1%;
    margin-top: 2%;
    position: relative;
    height: auto;
}

.fila {
    width: 100%;
    height: auto;
    position: relative;
}

.fila img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    position: relative;
}

p.titulo-elemento{
    clear: both;
    font-size: 16px;
    font-weight: bold;
    padding: 0%;
    text-align: center;
}



.screen {
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	border-radius: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	z-index: 1000;
}
.screen:hover {
  opacity: 1
}
.title {
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  margin-left: -30px;
}
.screen:hover .title {
  margin-left: 0;
}
p.title {
  font-size: 2em;
  padding: 5%;
}
.screen.fade-in .title {
  margin-left: 0;
}
