.createMovie {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

@media screen and (max-width: 600px){
  .createMovie{
      width: 100%;
      float: none;
  }
}
