
.customButton{
  display: block;
  box-sizing: border-box;
  float: none;
  width: 100%;
  margin-bottom: 5%;
  font-size: 1rem;
  height: 3rem;
  background-color: #ec7c6c;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}